
* {
  font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron {
  margin-bottom: 30px;
  background-image: url(../images/npr-opacity.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  /* text-shadow: rgb(253, 252, 252) 0.3em 0.3em 0.3em; */
}

.btn-scrape{
  margin-top: 8px;
}

#strike-through {
  text-decoration: line-through;
}

.panel {
  box-shadow: 5px 6px 8px #888888;
}

.panel-margin {
  margin-top: 30px;
}

.panel-title {
  font-size: 18px;
  font-weight: 400;
}

.summary {
  font-size: 16px;
}

button.btn-save {
  justify-items: right;
}
.delete {
  margin-right: 10px;
}

.notes {
  margin-right: 10px;
}

.footer {
  text-align: center;
  margin-top:30px;
}

/* =======MEDIA QUERIES====== */

/* tweak font size/spacing for devices */
@media (max-width: 1200px) {
 button.notes, button.delete, button.btn-save {
    margin-top: 10px;

  }
  .pull-right {
    float: left!important;
  } 
}

@media (max-width: 1000px) {
  .news-thumb {
    margin-bottom: 5px;
  }
}

@media (max-width: 400px) {
   .note-textarea {
     width: 100%;
   }
 }
